<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <span class="header__logo"><a class="header_link" href="#"><img  class="header__img-logo" alt="imagen aleatoria" src="iconfinder-connectedglobe-4417105_116615.png"> </a></span>
        <h1 class="header__title">Layout 1</h1>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Home</a> </li>
                <li class="nav__item"><a href="#" class="nav__link">Section 1</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Section 2</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Section 3</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <aside class="main__aside">
            <ul class="aside-list">
                <li class="aside-list__element"><a class="aside-list__link" href="#"><img  class="aside-list__img" alt="imagen aleatoria" src="https://picsum.photos/100/100?random"> </a></li>
                <li class="aside-list__element"><a class="aside-list__link" href="#"><img  class="aside-list__img" alt="imagen aleatoria" src="https://picsum.photos/100/100?random"> </a></li>
                <li class="aside-list__element"><a class="aside-list__link" href="#"><img  class="aside-list__img" alt="imagen aleatoria" src="https://picsum.photos/100/100?random"> </a></li>
            </ul>   
        </aside>
        <section class="main__section">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum optio temporibus commodi omnis debitis qui expedita sed nemo, inventore, ut facere culpa minus sit! Quod corrupti facilis ea? Temporibus, voluptatem?
                Dicta, odio! Rerum facere sint veritatis eum saepe. Ducimus cum molestiae facere similique eaque ratione ut facilis ipsam nobis rem explicabo molestias esse, voluptatibus in, quaerat, culpa reiciendis cumque voluptates!
                Neque optio reiciendis numquam, blanditiis iste quam, recusandae corrupti sit molestias in, ex delectus ea. Adipisci dolore aspernatur minus non obcaecati, blanditiis laboriosam nemo labore, pariatur enim eaque ab similique?
                Officia laboriosam dolorum enim nulla? Rerum sequi provident ut, animi nostrum eum doloremque repudiandae alias corporis, odit rem facilis ad inventore impedit quas sit velit at, nobis voluptates. Voluptatum, qui!
                Dolores harum molestias libero quod dolore delectus rem corrupti aspernatur quos sapiente asperiores cupiditate unde neque beatae, accusamus commodi impedit voluptas voluptate doloribus nam ut esse tenetur! Quo, incidunt accusamus!
                Dolores consectetur accusantium, delectus suscipit sequi asperiores quisquam culpa, magni quia architecto laborum quos laboriosam molestias, quas quibusdam vitae ipsam nemo porro deserunt ipsum corrupti aliquid! Qui provident quae assumenda.
                Iure vitae optio, quibusdam ex odio laborum necessitatibus temporibus repudiandae tempore! Rerum beatae quam dolore in quis, nihil labore fugit dolorem modi a alias laborum repudiandae iure, earum enim rem.
                Eius veniam, blanditiis molestiae unde enim, reiciendis minus nihil autem laborum ea aperiam? Accusamus voluptate possimus magnam rerum maiores velit eaque quia commodi, molestiae natus quos enim, odio consequuntur ipsa.
            </p>
        </section>
    </main>
    <footer class="footer">
        <h2>...On my way...</h2>
    </footer>
    
</body>
</html>